* { 
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: #000000; 
  color: #ffffff; 
}

body::-webkit-scrollbar {
  width: 0;
}

h1 { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-family: "Playfair Display"; 
  font-size: 30px; 
  padding: 20px 0px; 
  margin: 0px; 
}

.field-box { 
  border: 2px solid #d0d0d0; 
  float: left; 
}

.field { 
  position: relative; 
  width: 1200px; 
  height: 720px; 

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.field .tile {
  width: 30px; 
  height: 30px; 
  background-size: 100%; 
  background-image: url(images/tile-.png); 
  z-index: 5; 
}

.field .tileW {
  width: 30px; 
  height: 30px; 
  background-size: 100%;  
  background-image: url(images/tile-W.png);
  z-index: 6; 
}

.field .tileE {
  width: 30px; 
  height: 30px; 
  background-size: 100%;  
  background-image: url(images/tile-E.png); 
  z-index: 10; 
}

.field .tileP {
  width: 30px; 
  height: 30px; 
  background-size: 100%; 
  background-image: url(images/tile-P.png); 
  z-index: 10; 
}

.field .tileHP {
  width: 30px; 
  height: 30px; 
  background-size: 100%; 
  background-image: url(images/tile-HP.png); 
  z-index: 9; 
}

.field .tileSW {
  width: 30px; 
  height: 30px; 
  background-size: 100%; 
  background-image: url(images/tile-SW.png); 
  z-index: 9; 
}

.field .tileE .health { 
  background-color: #ff0000; 
  z-index: 11; position: relative; 
  left: 0px; 
  top: 0px; 
  height: 3px; 
}

.field .tileP .health { 
  background-color: #00ff00; 
  z-index: 11; 
  position: relative; 
  left: 0px; 
  top: 0px; 
  height: 3px; 
}

.inventory-box { 
  border: 2px solid #d0d0d0; 
  float: left; 
}

.inventory { 
  position: relative; 
  width: 800px; 
  height: 32px; 
}

.cl { 
  clear: both; 
  display: block; 
}
